*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-size: 1rem;
    font-family: 'Inter',sans-serif;
    color: var(--background);
    background-color: var(--Principal-Background);
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Manrope', sans-serif;
}